
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------- Header ----------------- */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 62px;
    background-color: #DCFAED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #36747f;
    font-weight: bold;
    padding: 10px 16px;
    margin-right: 20px;
    background-color: #fff;
    transition: .2s ease-in-out;
    border-radius: 6px;
}

.header a:hover {
    background-color: #36747f;
    color: #fff;
    transition: .3s ease-in-out;
}

.logo {
    border-radius: 30px;
    margin-left: 20px;
}

.logo-block {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* ----------------- Main ----------------- */

main {
    background-color: #eeebf8;
    height: 91.9vh;
    width: 100%;
    margin-top: 60px;
}

/* ----------------- Timer ----------------- */

.timer-clock {
    font-size: 70px;
    margin-bottom: 16px;
    margin-top: 10px;
    text-align: center;
}

/* ----------------- Buttons ----------------- */

.buttons{
    text-align: center;
}

.btn {
    padding: 8px 15px;
    margin: 10px 30px;
    background-color: #fff;
    color: #36747f;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.check {
    opacity: 0.6;
}