
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

/* ----------------- Header, footer & logo ----------------- */

.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 62px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(199, 199, 199);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    margin-bottom: 20px;
}

.logo {
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.logo-block {
    display: flex;
    gap: 16px;
    align-items: center;
}

footer {
    width: 100%;
    height: 62px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #36747f;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
}

footer i {
    cursor: pointer;
    color: white;
}

/* ----------------- Feedback ----------------- */

#feedback-form {
    padding: 26px 40px;
    border: 2px solid rgb(232, 229, 229);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-link,
.back-link {
    color: black;
    margin-right: 50px;
    font-size: 22px;
    transition: .3s ease-in-out;
}

.back-link {
    text-decoration: none;
}

.feedback-link:hover,
.back-link:hover {
    transform: scale(1.3);
    transition: .3s ease-in-out;
}

.feedback-input,
.feedback-message {
    padding: 6px;
    border-radius: 8px;
    border: 2px solid rgb(232, 229, 229);
}

.feedback-input:focus,
.feedback-message:focus {
    border: 2px solid #59b8c9;
    outline: none;
}

.feedback-message {
    height: 80px;
}

.feedback-radio-btns {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.send-message-btn {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.2px;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    background-color: #59b8c9;
    border: none;
    cursor: pointer;
}

/* ----------------- Timer ----------------- */

.timer-clock {
    font-size: 70px;
    margin-bottom: 16px;
    text-align: center;
}

.small-timer {
    font-size: 20px;
}

/* ----------------- Buttons ----------------- */

.buttons{
    text-align: center;
}

.btn {
    padding: 8px 15px;
    margin: 30px;
    background-color: #e16666;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.check {
    opacity: 0.6;
}

/* ----------------- The Game ----------------- */

.container{
    width: 55%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.number-box,
.number-box2 {
    width: 300px;
    height: 300px;
    box-shadow: 0 3px 10px 6px rgb(0 0 0 / 0.2);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    cursor: pointer;
}

.number-box2 {
    background: cornsilk;
}

.number{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url(../img/cat.jpg);
    color: white;
} 

.droppable {
    height: 75px;
    width: 75px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

/* ----------------- Pop-up windows ----------------- */

.question-window,
.success-window,
.loose-window {
    display: none;
    position: absolute;
    top: 70px;
    width: 550px;
    height: 200px;
    border: 1px solid black;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    z-index: 199;
}

.window-title {
    padding: 10px;
}

.check {
    opacity: 0.6;
}

.close-btn,
.check-btn {
    padding: 8px 15px;
    margin-right: 8px;
    margin-top: 25px;
    background-color: #e16666;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.check-btn {
    background-color: #54bf6d;
} 

/* ----------------- Animations ----------------- */

@keyframes fadeInDown { 
    0% {                
        opacity: 0;
        transform: translate3d(0px, -100%, 0px);
    }
    100% {              
        opacity: 1;
        transform: none;
    }
}

@keyframes bgAppear {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: rgba(0,0,0,0.4);
    }
}

/* ----------------- Media queries ----------------- */

@media screen and (max-width: 1200px) {
    .container{
        width: 75%;
    }
}

@media screen and (max-width: 900px) {
    .container{
        width: 85%;
    }

    .logo-block h1 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .dropdown {
        display: inline-block;
    }

    .container {
        width: 83%;
        flex-wrap: wrap;
        gap: 40px;
        height: 100%;
    }

    main {
        margin-top: 30px;
    }

    .btn {
        margin: 10px;
    }

    .question-window,
    .success-window,
    .loose-window {
        width: 350px;
        top: 120px;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (max-width: 440px) {
    main {
        margin-top: 50px;
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 300px;
    }
}